ANIME_INPUT_PATH=/anime
ANIME_WORK_PATH=/work
ANIME_LOG_PATH=/logs
ANIME_COMPLETED_HOST_PATH=/mnt/user/jellyfin/anime-completed
COMPLETED_DELIVERY_ENABLED=false
QBIT_BASE_URL=http://192.168.50.xxx:8080
QBIT_USERNAME=admin
QBIT_PASSWORD=CHANGE_ME
QBIT_SAVE_PATH=/anime
QBIT_REMOTE_ANIME_PATH=/anime
TRANSLATOR_BASE_URL=http://192.168.50.xxx:11434/v1
TRANSLATOR_API_KEY=EMPTY
TRANSLATOR_MODEL=SakuraLLM:latest
