ANIME_INPUT_PATH=/anime
ANIME_WORK_PATH=/work
ANIME_LOG_PATH=/logs
ANIME_INPUT_HOST_PATH=./media
ANIME_COMPLETED_HOST_PATH=./completed
QBIT_SUBTITLE_HOST_PATH=./qbit_subtitles
ANIME_WORK_HOST_PATH=./work
ANIME_LOG_HOST_PATH=./logs
COMPLETED_DELIVERY_ENABLED=false
QBIT_BASE_URL=http://qbittorrent.example.test
QBIT_USERNAME=admin
QBIT_PASSWORD=CHANGE_ME
QBIT_SAVE_PATH=/anime
QBIT_REMOTE_ANIME_PATH=/anime
TRANSLATOR_BASE_URL=https://translator.example.test/v1
TRANSLATOR_API_KEY=EMPTY
TRANSLATOR_MODEL=SakuraLLM:latest
